{{!< default }}

{{! List all posts }}
<main class="content" role="main">

    {{#foreach posts}}
    
    <article class="{{post_class}} {{#if @first}}first-article{{/if}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="post-meta"><i class="icon-time oesam-icon"></i><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}<i class="icon-tag oesam-icon"></i> {{tags}}{{/if}} <i class="icon-comments oesam-icon"></i><a href='{{url}}#disqus_thread'>comments</a>
            </span>

        </header>
        <section class="featured">
            {{!Auto get video or image}}
        </section>
        
        <section class="post-excerpt">
            <p>{{excerpt characters="50"}}&hellip;</p>
        </section>
        <div class="post-weather"></div>
        <div class="emoemo">
            <span class="post-emoticon"></span>
        </div>
        <a class="button readmore" href="{{url}}"><i class="icon-thumbs-up oesam-icon"></i>Read more</a>
    </article>

    {{/foreach}}
    <div class="endless" style="text-align: center; display: none;">
        <img alt="Loading..." src="/assets/imgs/preloader.gif">
    </div>
    {{!! Pagination }}
    {{pagination}}

</main>