{{!< default}}

{{! Single Post }}
<main class="content" role="main">
    <article class="{{post_class}}">

        {{#post}}

        <h1 class="post-title">{{{title}}}</h1>
        <span class="post-meta"><i class="fa fa-time oesam-icon"></i><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{{tags prefix="<i class=\"fa fa-tags oesam-icon\"></i>" separator=" | "}}} </span>

        <section class="ads">
            {{> ads}}
        </section>

        <section class="post-content">
            {{content}}
        </section>

        {{> post-footer}}

        {{/post}}

        <div class="post-weather"></div>
        <div class="emoemo">
            <span class="post-emoticon"></span>
        </div>

    </article>
</main>
